<div class="row w-100 m-2 border">
    <div class="card w-100">
        <div class="card-header" style="height:100px">
            <%= image_tag(post.villager.villager_picture, size: "60x60", class:"rounded") %>
            <%= post.villager.first_name %> <%= post.villager.last_name %>
            
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= post.content %></h5>
            <footer class="blockquote-footer"> <%= post.created_at.strftime("%m/%d/%Y à %H:%M") %> </footer>
        </div>
    </div>
</div>