<div class="container-fluid row mt-5">
    <div class="col-md-4">
        <div class="card" style="width: 25rem;">
            <% if @village.village_avatar.attached? %>
                <div class="container card-img-top">
                    <%= image_tag @village.village_avatar %>
                </div>
            <% else %>
                <p>=== Il n'y a pas encore d'avatar lié à ce village ===</p>
            <% end %>
            
            <div class="card-body">
                <h5 class="card-title"><%= @village.name %></h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Zip code : <%= @village.zipcode %></li>
                <li class="list-group-item">Email : <%= @village.email %></li>
                <li class="list-group-item">Description : <%= @village.description %></li>
            </ul>

            <div class="card-body">
                <%= link_to "modifier les informations", edit_village_path(id:@village.id), class:"link_to" %>
            </div>
        </div>
    </div>


    <div class="col-md-8">
        <div class= "row">
            <h2> Evènements créés </h2>
        </div>
        <div class="container">
            <h3 class="border-bottom"> Evènements du jour </h3>
            <% @events_today.each do |e| %>
                <%= render 'shared/list_events', event: e %>
            <% end %>

            <h3 class="border-bottom"> Evènements à venir </h3>
            <% @events_to_come.each do |e| %>
                <%= render 'shared/list_events', event: e %>
            <% end %>

            <h3 class="border-bottom"> Evènements passés </h3>
            <% @events_passed.each do |e| %>
                <%= render 'shared/list_events', event: e %>
            <% end %>
        </div>
    </div>
</div>