<div class="container-fluid mt-5">
    <div class="row justify-content-center p-2">
        <div class="col-md-7"
            <form class="form-horizontal">
                <fieldset>
                    <legend>Modifier le commentaire</legend>

                    <%= form_for @comment, url: village_forum_forums_post_forums_posts_comment_path(@village, @forum, @post, @comment), method: :patch do |f| %>
                        
                        <div class="form-group">
                            <%= f.label :content, 'Modifie ton message : ' %>
                            <%= f.text_area :content, autofocus: true, autocomplete: "contenu", class: "form-control" %>
                        </div>

                        <div class="actions m-5">
                            <%= f.submit "Modifier le comment", class: "btn btn-lg btn-success btn-block" %>
                        </div>
                    <% end %>
                </fieldset>
            </form>
            
            <div class="row justify-content-center">
                <%= button_to "Supprimer le commentaire", village_forum_forums_post_forums_posts_comment_path(@village, @forum, @post, @comment), data: {confirm: "Voulez-vous supprimer le commentaire ?" }, method: :delete, class:"btn btn-danger mr-4" %>
            </div>
        </div>
    </div>
</div>