<%= form_for(resource, as: resource_name, url: town_hall_password_path(resource_name), html: { method: :post }) do |f| %>

    <%= devise_error_messages! %>
<div class=center-form>
    <div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-forgot-townhall"></div>
        <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
            <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Mode passe oublié ? </h3>
                <form>

                    
                    <div class="form-label-group">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"form-control"  %>
                    <%= f.label :"Adresse email" %>
                    </div>

                  
                    <%= f.submit "Recevoir les instructions", class: "btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>
                    <%= link_to "Déja inscrit ? Se connecter", new_town_hall_session_path, class:"d-block text-center mt-2 small" %>
                    <%= link_to "Pas encore inscrit ? Rejoignez-nous", new_town_hall_registration_path, class:"d-block text-center mt-2 small"%>
                <hr class="my-4">
                
                </form>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<% end %>