<div class="row justify-content-md-center">
      <div class="col mb-4 text-center">

        <h1>Créez un commentaire pour cet évenement: <%= @comment.event.title%> </h1>
        <p>Remplissez le formulaire</p>
        <br/>

        <%= form_tag url_for(action: 'create'), method: "post" do %>
          
          <%= label_tag 'Saisissez votre prénom : ' %>
          <%= text_field_tag :villager_first_name %>
          <br />
          
          <%= label_tag 'Renseignez votre commentaire : ' %>
          <%= text_area_tag :comment_content %>
          <br/>

          <br />
          
          <%= submit_tag("Publier le commentaire", :class =>"btn btn-primary") %>

        <% end %>
      </div>
    </div>