<div class="container-fluid mt-5">
    <div class="row justify-content-center p-2">
        <div class="col-md-7"
            <form class="form-horizontal">
                <fieldset>
                    <legend>Editer le post</legend>

                    <%= form_for @post, url: village_forum_forums_post_path(@village, @forum, @post), method: :patch do |f| %>
                        
                        <div class="form-group">
                            <%= f.label :content, 'Modifie ton message : ' %>
                            <%= f.text_area :content, autofocus: true, autocomplete: "contenu", class: "form-control" %>
                        </div>

                        <div class="actions m-5">
                            <%= f.submit "Modifier le post", class: "btn btn-lg btn-success btn-block" %>
                        </div>
                    <% end %>
                </fieldset>
            </form>
            
            <div class="row justify-content-center">
                <%= button_to "Supprimer le post", village_forum_forums_post_path(@village, @forum, @post), data: {confirm: "Voulez-vous supprimer l'évènement ?" }, method: :delete, class:"btn btn-danger mr-4" %>
            </div>
        </div>
    </div>
</div>