<div class="row m-2 border-bottom">
    <div class="col-sm-3">
        <h5><%= event.title %></h5>
    </div>

    <div class="col-sm-3">
        <p><%= event.attendances.count %> <%= (event.attendances.count) == 1 ? 'Participant' : 'Participants'%></p>
    </div>

    <div class="col-sm-3">
        <p><%= event.start_date.strftime("%A, %d %B %Y") %></p>
    </div>

    <div class="col-sm-3">
        <%= button_to "Modifier l'évènement" %>
    </div>
</div>