<div class="menu-container">
    <div class="row">
        <div class="col-sm-12">

            <%= form_tag(offers_path, :method => "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
                <%= submit_tag "Search" %>
            <% end %>

            <%= form_tag(offers_search_path, method: :get, remote: true) do %>
                <div class="input-group mb-5">
                    <div class="row">
                        <%= text_field_tag :search, '', class:'form-control', placeholder:"Recherche..", onkeydown: 'clickSubmit()'%>
                    </div>
                </div>
                <div class="row">
                    <%= check_box_tag :title %> Title
                    <%= select_tag 'filter', options_for_select(['Reprendre un commerce', 'Immobilier', "Offre d'emploi"]), class:"custom-select" %>
                    <%= submit_tag "Search", class:'btn btn-dark', id: 'search_submit', style:"display:none" %>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
    function clickSubmit() {
        $("#search_submit").trigger("click");
    }
</script>




    <div class="card">
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Brands </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <form>
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Mersedes Benz
                    </span>
                    </label> <!-- form-check.// -->
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Nissan Altima
                    </span>
                    </label>  <!-- form-check.// -->
                    <label class="form-check">
                    <input class="form-check-input" type="checkbox" value="">
                    <span class="form-check-label">
                        Another Brand
                    </span>
                    </label>  <!-- form-check.// -->
                </form>

                </div> <!-- card-body.// -->
            </div>
        </article> <!-- card-group-item.// -->
        
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Choose type </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    First hand items
                </span>
                </label>
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    Brand new items
                </span>
                </label>
                <label class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadio" value="">
                <span class="form-check-label">
                    Some other option
                </span>
                </label>
                </div> <!-- card-body.// -->
            </div>

        </article> <!-- card-group-item.// -->
    </div> <!-- card.// -->