<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>The EvenBrides - Index</title>


</head>
<body>
  
  <main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" style="background-image: url(<%= 'https://i.pinimg.com/originals/32/8a/bb/328abb69ab5b18eadab2d2184a6329fe.png' %>)">
    <div class="container">
      <h1 class="display-3">Fête au village</h1>
      <p>Que l'immersion commence!</p>
      <% if town_hall_signed_in? %>
        <p><%= button_to "Créer un évènement", new_event_path, class:"btn btn-light", :method => :get %></p>
      <% end %>
    </div>
  </div>

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Voici les évènements disponibles :</h1>
    <p class="lead">Choisi ton Event</p>
  </div>

  <div class="container">
    <div class="row">
      <!-- Card -->
      <% @events.each_with_index do |event, i| %>
        <div class="cart-event col-12 col-sm-8 col-md-6 col-lg-4 ml-2">
          
          <!-- Card content -->
            <div class="card-body d-flex flex-row">
              <!-- Content -->
              <div>
                <!-- Title -->
                <%= link_to event_path(event.id), class:"link_to" do %>
                  <h4 class="card-title font-weight-bold mb-2" style="text-transform: uppercase;"><%= event.title %></h4>
                <% end %>
                <!-- Subtitle -->
                <p class="card-text"><i class="far fa-money-bill-alt pr-2"></i> <%= event.price %> €</p>
                <p class="card-text"><i class="fas fa-map-marker-alt pr-2"></i> <%= event.location %></p>
                <p class="card-text"><i class="far fa-clock pr-2"></i>
                  <time datetime=<%= event.start_date %>
                    <span class="day"> <%= event.start_date.day %> </span>
                    <span class="month"> <%= event.start_date.strftime('%b') %> </span>
                    <span class="year"> <%= event.start_date.year %> </span>
                    <span class="time"> </span>
                  </time>
                </p>
              </div>
            </div>
          <!-- Card image -->
            <div class="view overlay">
            <%= image_tag event.event_picture, size: "350x350", alt: "Card image cap" %>
              <a href="<%= event_path(event.id) %>">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          <!-- Card content -->
            <div class="card-body">
              <div class="collapse-content">
                <!-- Text -->
                <%= h truncate(event.description, :length => 150) { link_to 'Voir plus', event_path(event.id), class:"link_to" } %>
                <!-- Button -->
                <i class="fas fa-share-alt text-muted float-right p-1 my-1" data-toggle="tooltip" data-placement="top" title="Share this post"></i>
                <i class="fas fa-heart text-muted float-right p-1 my-1 mr-3" data-toggle="tooltip" data-placement="top" title="I like it"></i>
              </div>
            </div>
          
          </div>
        <% end %>
      <!-- Card -->
    </div>
  </div>
  



</body>
</html>

