<div class="container-fluid mt-5">
  <div class="row justify-content-center p-2 border">
    <div class="col-md-7"
      <form class="form-horizontal">
        <fieldset>
          <legend>Editer les informations de la commune <%= @village.name %></legend>

          <%= form_for @village do |f| %>
          
            <!-- éditer email -->
            <div class="form-group">
              <%= f.label :email, 'Email : ' %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"inputEmail" %>
            </div>
            
            <!-- éditer description -->
            <div class="form-group">
              <%= f.label :description, 'Votre description : ' %>
              <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", id:"exampleTextarea" %>
            </div>
            
            <!-- éditer l'image -->
            <div class= "form-group">
              <%= f.label :village_avatar, 'Ajoute une photo : ' %>
              <%= f.file_field :village_avatar, autofocus: true, autocomplete: "village_avatar", class: "form-control" %>
            </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= button_to "Annuler", town_hall_path(id: TownHall.find_by(email:@village.email).id), class:"btn btn-default", data: { turbolinks: false } %>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          <% end %>
        </fieldset>
      </form>
    </div>
  </div>
</div>