<div class="container-fluid">
    <div class="row justify-content-center m-5">
        <%= form_with url: villages_path, method: :post, local:true do |f| %>
            Renseignez un numéro de département :
            <%= f.text_field :num %>

            <%= f.submit "mettre à jour l'annuaire des mairies", class:"btn btn-success" %>
        <% end %>

    </div>

    <div class="row justify-content-start">
        <div class="col-sm-4 pl-5">
            <div class="row mb-5">
                <h4 class="mr-5">Catégories projets</h4>
                <%= button_to "créer une catégorie", new_category_path, method: :get, class:"btn btn-primary"%>
            </div>         

            <% @categories.each do |c| %>
                <%= render 'cat_list', category: c %>
            <% end %>
        </div>
    </div>
</div>