<div class="container-fluid mt-5">
    <div class="row justify-content-center p-2">
        <div class="col-md-7"
            <form class="form-horizontal">
                <fieldset>
                    <legend>Editer le projet <%= @offer.title %></legend>

                    <%= form_for @offer do |f| %>
                        
                        <div class="form-group">
                            <%= f.label :title, 'Renseigne un titre : ' %>
                            <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :category, 'Indique une categorie : ' %>
                            <%= f.select :category, @categories, autofocus: true, autocomplete: "type d'offre", class: "form-control" %>
                        </div>

                        <div class="form-group">
                            <%= f.label :description, 'Met ta description : ' %>
                            <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
                        </div>

                        <!-- création image  -->
                        
                        <div class= "form-group">
                            <%= f.label :offer_picture, 'Ajoute une photo : ' %>
                            <%= f.file_field :offer_picture, autofocus: true, autocomplete: "offer_picture", class: "form-control" %>
                        </div>

                        <div class="actions mt-5">
                            <%= f.submit "Modifier le projet", class: "btn btn-lg btn-success btn-block" %>
                        </div>
                    <% end %>
                </fieldset>
            </form>

            <%= button_to "Supprimer le projet", offer_path(@offer), data: {confirm: "Voulez-vous supprimer le projet ?" }, method: :delete, class: "btn btn-lg btn-danger btn-block mt-3" %>
        </div>
    </div>
</div>