<div class="container-fluid">
  <!-- Main jumbotron -->
  <div class="jumbotron" style="background-image: url(<%= 'https://i.pinimg.com/originals/32/8a/bb/328abb69ab5b18eadab2d2184a6329fe.png' %>)">
    <div class="container">
      <h1 class="display-3">Participer à un projet</h1>
      <% if town_hall_signed_in? %>
        <p><%= button_to "Poster une offre", new_offer_path, class:"btn btn-success", :method => :get %></p>
      <% end %>
    </div>
  </div>

  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center mb-5" style="height:100px">
      <%= render 'search_offers' %>
    </div>

    <div class="row">
      <div class="col-sm-1">
      </div>

      <div class="col-sm-10 menu-offers px-5">
        <% if @offers.present? %>
          <!-- Card -->
          <% @offers.each_with_index do |offer, i| %>
              <%= render 'card_offer', offer: offer %> 
          <% end %>
          <!-- Card end -->
        <% else %>
          <p>Aucun projet ne contient le terme <%= params[:search] %>.</p>
        <% end %>
      </div>

      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>