<!doctype html>
<html>
<head>  
  <meta charset="utf-8" />
  <title>Créer un évènement</title>
</head>

<body>
  <!-- Message d'erreur en cas de problème-->
  <% if @offer.errors.any? %>
    <div class="alert alert-danger">
      <p>Nous n'avons pas réussi à créer le projet pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @offer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Formulaire création évènement -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">  
        <br><br><br>
        
        <%= form_for @offer do |f| %>
          <h1>Création d'un projet</h1>
          
          <div class="form-group">
            <%= f.label :title, 'Renseigne un titre : ' %>
            <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :category, 'Indique une categorie : ' %>
            <%= f.select :category, @categories, autofocus: true, autocomplete: "type d'offre", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :description, 'Met ta description : ' %>
            <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
          </div>

        <!-- création image  -->
          
          <div class= "form-group">
            <%= f.label :offer_picture, 'Ajoute une photo : ' %>
            <%= f.file_field :offer_picture, autofocus: true, autocomplete: "offer_picture", class: "form-control" %>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Créer un projet", class: "btn btn-lg btn-success btn-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>