
<div class="container-fluid mt-5 emp-profile">
    <div class="row ml-5">
        <div class="col-md-flex md-4">
            <div class="row">
                <div class="profile-img">
                    <% if @offer.offer_picture.attached? %>
                        <%= image_tag(@offer.offer_picture, size: "400x300")%>
                    <% end %>
                </div>
            </div>
            <div class="row mt-5">
                <p>Contactez la mairie pour prendre part au projet : <span style="font-weight:bold"><%= @offer.village.email %></span></p> 
            </div>
        </div>
        <div class="col-md-7">
            <div class="profile-head">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Commentaires</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="test" style="margin-top: 4%; margin-left: 2%"> 
                        <div class="row">
                            <h2 class="upper mb-4" style="text-transform: uppercase"><%=@offer.title%></h2>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label>Village</label>
                            </div>
                            <div class="col-md-9">
                                <p> <%= @offer.village.zipcode %> - <%= @offer.village.name %> </p>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-2">
                                <label>Catégorie</label>
                            </div>
                            <div class="col-md-9">
                                <p> <%= @offer.category.title if @offer.category %> </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <label>Description</label>
                            </div>
                            <div class="col-md-9">
                                <p> <%= @offer.description %> </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                            </div>                                    
                            <div class="col-md-9">                        
                                <% if current_town_hall && Village.find_by(email:current_town_hall.email) == @offer.village %>
                                    <%= button_to "Modifier l'évènement", edit_offer_path(@offer), method: :get, class:"btn btn-success" %>    
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row overflow-auto ml-2" style="height:500px">
                        <div class="col-md-1">
                        </div>

                        <div class="col-md-11">
                            <% if @comments == [] %>
                                <p class="text-center">Il n'y a aucun commentaire pour l'instant </p>
                            <% else %>
                                <div class="col-sm-12">
                                    <% @comments.each do |c| %>
                                        <%= render 'post_offer', comment: c %>
                                    <% end %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    <div class="row">
                        <% if user_signed_in? %>
                            <%= link_to "Ajouter un commentaire", new_offer_offers_comment_path(params[:id]), class: "btn btn-success mt-5"%>
                        <% end %>
                    </div>
                </div>
                <div class="text-center mt-5">
                    <h5><%= link_to "retourner aux projets", offers_path %></h5> 
                </div>
            </div>
        </div>
    </div>        
</div>