
<div class="container bootstrap snippet">
    <div class="row">
      <div class="col-sm-10 mt-5"><h1>Profil</h1></div>
        <ul class="nav nav-tabs mt-5">
          <li class="active"><a data-toggle="tab" href="#home">Profil</a></li>
          <li><a data-toggle="tab" href="#profil"> Description</a></li>
        </ul>
      <div class="col-sm-2"><a href="/users" class="pull-right"></a></div>
    </div>
    <div class="row">
      <div class="col-lg-8"> <!--left col-->

        <legend>Editer le profil </legend>

        <%= form_for @villager do |f| %>
          <div class="form-group">
            <%= f.label :first_name, 'Prénom : ' %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, 'Nom : ' %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :dat_of_birth, 'Date de naissance : ' %>
            <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth", class: "form-control" %>
          </div>

          <div class="form-group ">
            <%= f.label :description, 'Description : ' %>
            <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control" %>
          </div>

          <div class= "form-group">
            <%= f.label :villager_picture, 'Ajoute une photo : ' %>
            <%= f.file_field :villager_picture, autofocus: true, autocomplete: "villager_picture", class: "form-control" %>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Modifier profil", class: "btn btn-lg btn-success btn-block" %>
          </div>
        <% end %>
    </div>
  </div>
</div>