
<div class="container">
    <div class="container-fluid mt-5 emp-profile">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/> 
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="profile-head">
                                    <h5>
                                        <%= @villager.first_name %>
                                    </h5>
                                    <h5>
                                        <%= @villager.last_name%>
                                    </h5>
                                   
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Profil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Description</a>
                                </li>
                                 <li class="nav-item">
                                    <a class="nav-link" id="message-tab" data-toggle="tab" href="#message" role="tab" aria-controls="message" aria-selected="false">Message</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                     <%= link_to "Editer ton profil", edit_villager_path(id:params[:id]), class: "btn btn-sm btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"%>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile mt-3">
                            <p>AUBERGES ET GITES VISITES</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Website Link</a><br/>
                            <a href="">Website Link</a><br/>
                            <p class="mt-3">MESSAGERIE</p>
                            <a href="">Accéder à sa messagerie</a><br/>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Prénom</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @villager.first_name %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @villager.last_name %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @villager.user.email %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Date de naissance</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @villager.date_of_birth %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Description</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p><%= @villager.description %></p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <label>A propos de moi</label>
                                            </div>
                                            <div class="col-md-10">
                                                <p><%= @villager.description %></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hobbies</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Lecture</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Evenements auquels j'ai participé</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Comptes suivis</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>52</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Followers</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>36</p>
                                            </div>
                                        </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
    </div>