<div class="container-fluid mt-5">
    <div class="row justify-content-center p-2">
        <div class="col-md-7"
            <form class="form-horizontal">
                <fieldset>
                    <legend>Editer la catégorie <%= @category.title %></legend>

                    <%= form_for @category do |f| %>
                        
                        <div class="form-group">
                            <%= f.label :title, 'Renseigne un titre : ' %>
                            <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "form-control" %>
                        </div>

                        <div class="actions mt-5">
                            <%= f.submit "Modifier la catégorie", class: "btn btn-lg btn-success btn-block" %>
                        </div>
                    <% end %>
                </fieldset>
            </form>

            <%= button_to "Supprimer la catégorie", category_path(@category), data: {confirm: "Voulez-vous supprimer la catégorie ?" }, method: :delete, class: "btn btn-lg btn-danger btn-block mt-3" %>
        </div>
    </div>
</div>