<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">

   

        <!-- Navbar brand -->
        <%= link_to "La Bonne Auberge", root_path, class:"navbar-brand" %>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

            <!-- Links -->
            <ul class="navbar-nav mr-auto smooth-scroll">
                <li class="nav-item">
                    <%= link_to "Evènements", events_path, class:"nav-link" %>
                </li>
                
                <li class="nav-item">
                    <%= link_to "Contact", root_path, class:"nav-link" %>
                </li>
              
                <li class="nav-item">
                     <%= link_to "Contact", static_pages_contact_path, class:"nav-link" %>
                  
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Espace Mairie</a>
                    <div class="dropdown-menu">

                    <!-- Utilisateur connecté -->
                    <% if user_signed_in? %>
                        <%= link_to "Mon espace", root_path, method: :get, class:"nav-link" %>
    
                        <%= link_to "Se déconnecter", destroy_town_hall_session_path, method: :delete, class:"nav-link" %>

                    <!-- Utilisateur non connecté -->
                    <% else %>
                        <%= link_to "Se connecter", new_town_hall_session_path, class:"nav-link" %>
                        <%= link_to "S'inscrire", new_town_hall_registration_path, class:"nav-link" %>
                    <% end %>
                    </div>

                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profil</a>
                    <div class="dropdown-menu">

                    <!-- Utilisateur connecté -->
                    <% if user_signed_in? %>
                        <%= link_to "Mon profil", root_path, method: :get, class:"nav-link" %>
    
                        <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class:"nav-link" %>

                    <!-- Mairie connectée -->
                    <% elsif town_hall_signed_in? %>
                        <%= link_to "Mon profil", town_hall_path, method: :get, class:"nav-link" %>

                    <!-- Utilisateur non connecté -->
                    <% else %>
                        <%= link_to "Se connecter", new_user_session_path, class:"nav-link" %>
                        <%= link_to "S'inscrire", new_user_registration_path, class:"nav-link" %>
                    <% end %>


                    
                    </div>
                </li>
            </ul>           
        </div>
        <!-- Collapsible content -->

    

</nav>